main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seri;
}
header{
    background-color: rgb(54, 115, 207);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 400px;
    height: 100px;
}
/* questo è giusto per buttare giù qualcosa in attesa della correzzione */
header > img {
    display: block;
}
h1 {
    margin: 0;
    font-size: 50px;
}
.writer{
    margin: 0;
    color: slategrey;
    margin: 0;
}
.data{
    color: slategrey;
    font-size: 10px;
    margin: 0;
}
.first-photo{
    margin: 0;
    font-size: 10px;
} 
.second-photo{
    font-size: 10px;
    margin-top: 0;
}
span {
    background-color: yellow;
}
ul {
   padding: 15px;
}
thead {
    background-color: rgb(54, 115, 207);
    color: white;
    text-align: left;
}
.title{
    width: 300px;
}
.body-color{
    background-color: skyblue;
}
.second{
    margin-top: 10px;
}
h3 {
    color: slategrey;
}
.monitor {
    width: 250px;
    height: 200px;
    background: url(../img/monitor.jpg)
}
.graph {
    width: 250px;
    height: 200px;
    background:url(../img/graph.jpg)    
}
h4{
    color: white;
}